body{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #eee;
}
.container {
    padding-left: 5%;
    padding-right: 5%;
}
 #template {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     align-items: center;
     padding: 10px;
     text-align: center;
 }
 #template div{
     width: 24%;
     background-color: #fff;
     margin: 10px 0;
 }
 img{
     width: 100%;
 }

 h1{
     margin: 0;
 }
 #template a{
     padding: 10px;
     background: #50d360;
     margin: 10px;
     display: block;
     color: #fff;
     text-decoration: none;
     border-bottom: 4px solid #2d973a;
 }
 #template a:hover {
    background-color: #111 ;
 }